body {
  margin: 0;
  background: #EEE;
  user-select: none;
  font-family: sans-serif;
  background-image: url("beautiful.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  overflow: hidden;
}


#slider {
  position: relative;
  width: 60%;
  height: 40vw;
  margin: 80px auto;
  font-family: 'Helvetica Neue', sans-serif;
  perspective: 1400px;
  transform-style: preserve-3d;

}
p{
  margin: calc(1px + 1.2vw);
  opacity: 0.1;
}
span{
  color: #0D2F4D;
}

p span:hover{
  color: firebrick;
}
span::before{
    content:attr(data-content);
    position: absolute;
    /*color: white;*/
    font-size: 1.72em;
    display: inline-block;
    border: 2px solid white;
    background-color: pink;
    top: -75px;
    border-radius: 10px 10px;
    opacity: 0;
    filter: Alpha(opacity=0);   /*window8*/

   white-space: nowrap;
   transition-property: opacity color;
   transition-timing-function: ease-out;
   transition-duration: 1s;
   transition-delay: .2s;
   -webkit-transition: opacity color  1s ease-out;
   -moz-transition: opacity color  1s ease-out;
   -o-transition: opacity color  1s ease-out;
   /*transform-origin: bottom center;*/
}
span:hover::before{
    opacity: 1;
    filter:Alpha(opacity=100);
    /*color:white;*/
    transform: translateX(-50%);
}

input[type=radio] {
  position: relative;
  top: 102%;
  left: 50%;
  width: 18px;
  height: 18px;
  margin: 0 15px 0 0;
  opacity: 0.4;
  transform: translateX(-83px);
  cursor: pointer;
}


input[type=radio]:nth-child(6) {
  margin-right: 0px;
}

input[type=radio]:checked {
  opacity: 1;
}




#slider label {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  color: white;
  font-size: calc(1.3em + 0.9vw);
  font-weight: bold;
  border-radius: 5px;
  word-break: 0.5em;
  cursor: pointer;
  display: flex;
  flex-direction: column;


  align-items: center;
  justify-content: center;
  transition: transform 400ms ease;
}

#slide1 {
  background: tomato;
}

#slide2 {
  background: yellowgreen;
}

#slide3 {
  background: dodgerblue;
}

#slide4 {
  background: slateblue;
}

#slide5 {
  background: violet;
}
#slide6{
  background: cyan;
}

.prefix::before{
    content:'❯ ';
    background:inherit;
    /*display:block;*/
    color:grey;
    opacity: 0.6;
}
.postfix::after{
    content:" ❮";
    background:inherit;
    /*display:block;*/
    color:grey;
    opacity: 0.6;

}


/* Slider Functionality */

/* Active Slide */
#s1:checked ~ #slide1, #s2:checked ~ #slide2, #s3:checked ~ #slide3, #s4:checked ~ #slide4, #s5:checked ~ #slide5, #s6:checked ~ #slide6 {
  box-shadow: 0 13px 26px rgba(0,0,0, 0.3), 0 12px 6px rgba(0,0,0, 0.2);
  transform: translate3d(0%, 0, 0px);
}

/* Next Slide */
#s1:checked ~ #slide2, #s2:checked ~ #slide3, #s3:checked ~ #slide4, #s4:checked ~ #slide5, #s5:checked ~ #slide6, #s6:checked ~ #slide1 {
  box-shadow: 0 6px 10px rgba(0,0,0, 0.3), 0 2px 2px rgba(0,0,0, 0.2);
  transform: translate3d(7%, 0, -100px);
}


/* Next to Next Slide */
#s1:checked ~ #slide3, #s2:checked ~ #slide4, #s3:checked ~ #slide5, #s4:checked ~ #slide6, #s5:checked ~ #slide1, #s6:checked ~ #slide2  {
  box-shadow: 0 1px 4px rgba(0,0,0, 0.4);
  transform: translate3d(15%, 0, -150px);
}

/* Previous to Previous Slide */
#s1:checked ~ #slide4, #s2:checked ~ #slide5, #s3:checked ~ #slide6, #s4:checked ~ #slide1, #s5:checked ~ #slide2, #s6:checked ~ #slide3 {
  box-shadow: 0 1px 4px rgba(0,0,0, 0.4);
  transform: translate3d(25%, 0, -200px);
}

/* Previous Slide */
#s1:checked ~ #slide5, #s2:checked ~ #slide6, #s3:checked ~ #slide1, #s4:checked ~ #slide2, #s5:checked ~ #slide3, #s6:checked ~ #slide4 {
  box-shadow: 0 6px 10px rgba(0,0,0, 0.3), 0 2px 2px rgba(0,0,0, 0.2);
  transform: translate3d(-25%, 0, -200px);
}

#s1:checked ~ #slide6, #s2:checked ~ #slide1, #s3:checked ~ #slide2, #s4:checked ~ #slide3, #s5:checked ~ #slide4, #s6:checked ~ #slide5 {
  box-shadow: 0 6px 10px rgba(0,0,0, 0.3), 0 2px 2px rgba(0,0,0, 0.2);
  transform: translate3d(-10%, 0, -100px);
}
